<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        .frame-embed{
            width: 100vw;
            height: 100vh;
        }
    </style>
</head>
<body>
    <iframe src="<%= url %>" class="frame-embed" frameborder="0"></iframe>
</body>
</html>