<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shorten Link</title>
</head>
<body>
    <h1>Vivi Link</h1>
    <p>Create shorten link easy. Free.</p>
    <p><a href="/short-link">Create now</a></p>

    <script>
        let randomCharacters = (Math.random() + 6).toString(36).slice(2,7);
        var encodeChars = "";
        for(const char in randomCharacters){
            var randomBoolean = Math.random() < 0.5;
            if(randomBoolean)
                encodeChars += randomCharacters[char].toUpperCase();
            else
                encodeChars += randomCharacters[char];
        }
        console.log(encodeChars)
    </script>
</body>
</html>